Self signed server certificate not meeting RFC 5280

**Issue**
The current self-signed server certificate does not contain a subject line. Apparently it is not meeting [RFC 5280 §4.2.1.6](https://tools.ietf.org/html/rfc5280#section-4.2.1.6) standards according to [this post](https://stackoverflow.com/questions/56168165/x-509-certificate-is-incomplete-subjectalternativename-extension-must-be-marked).

This results in some libraries not accepting the certificate as valid. 


```java
java.security.cert.CertificateParsingException: X.509 Certificate is incomplete: SubjectAlternativeName extension MUST be marked critical when subject field is empty
```

**Solution**
Add a subject line
```asp
Subject = "CN=serverCert";
```



Fixed with #58